<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.younited.qa.testcases.LoginPageTest"/>
      <class name="com.younited.qa.testcases.HomePageTest"/>
      <class name="com.younited.qa.testcases.MyAssignmentsPageTest"/>
      <class name="com.younited.qa.testcases.AddCommandPageTest"/>
      <class name="com.younited.qa.testcases.CheckCommandPageTest"/>
      <class name="com.younited.qa.testcases.CompleteAssignmentTest"/>
      <class name="com.younited.qa.testcases.MatchPageTest"/>
      <class name="com.younited.qa.testcases.ManageProfilePageTest"/>
      <class name="com.younited.qa.testcases.MyReactionsPageTest"/>
      <class name="com.younited.qa.testcases.MycompanyPageTest"/>
      <class name="com.younited.qa.testcases.MycompanyLocatiesPageTest"/>
      <class name="com.younited.qa.testcases.DashboardPageFreeTest"/>
      <class name="com.younited.qa.testcases.MyReactionsPageFreeTest"/>
      <class name="com.younited.qa.testcases.MyReactionsPageTest"/>
      <class name="com.younited.qa.testcases.AssignmentsPageFreeTest"/>
      <class name="com.younited.qa.testcases.MyNetworkPageFreeTest"/> 
      <class name="com.younited.qa.testcases.StorePageFreeTest"/>
      <class name="com.younited.qa.testcases.EntrepreneursPageFreeTest"/>
      <class name="com.younited.qa.testcases.BusinessesPageFreeTest"/>
      <class name="com.younited.qa.testcases.AssignmentsPageAdminTest"/>
      <class name="com.younited.qa.testcases.CommunityPageAdminTest"/>
      <class name="com.younited.qa.testcases.ManageProfilePageFreeTest"/>
      <class name="com.younited.qa.testcases.MycompanyPageFreeTest"/>
      <class name="com.younited.qa.testcases.MatchPageAdminTest"/>
      <class name="com.younited.qa.testcases.UlogoMydashboardPageTest"/>
      <class name="com.younited.qa.testcases.UlogoChatPageTest"/>
      <class name="com.younited.qa.testcases.UlogoMynotificationsPageTest"/>
      <class name="com.younited.qa.testcases.UlogoMyprofilePageTest"/>
      <class name="com.younited.qa.testcases.UlogoMycompanyPageTest"/>
      <class name="com.younited.qa.testcases.UlogoMyreactionsPageTest"/>
      <class name="com.younited.qa.testcases.UlogoUsermanagementPageTest"/>
      <class name="com.younited.qa.testcases.UlogoAllcompaniesPageTest"/>
      <class name="com.younited.qa.testcases.UlogoIntermediarycompaniesPageTest"/>
      <class name="com.younited.qa.testcases.UlogoAllassignmentsPageTest"/>
      <class name="com.younited.qa.testcases.UlogoProfilestatisticsPageTest"/>
      <class name="com.younited.qa.testcases.UlogoDasAssignmentsPageTest"/>
      <class name="com.younited.qa.testcases.UlogoDasPlatformPageTest"/>
      <class name="com.younited.qa.testcases.UlogoDasGroupsPageTest"/>
      <class name="com.younited.qa.testcases.UlogoDasCompaniesPageTest"/>
      <class name="com.younited.qa.testcases.UlogoNativeAssignmentsPageTest"/>
      <class name="com.younited.qa.testcases.UlogoStoresuppliersPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
