<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.younited.qa.testcases.LoginPageTest"/>
      <class name="com.younited.qa.testcases.HomePageTest"/>
      <class name="com.younited.qa.testcases.AddCommandPageTest"/>
      <class name="com.younited.qa.testcases.CheckCommandPageTest"/>
      <class name="com.younited.qa.testcases.MyAssignmentsPageTest"/>
      <class name="com.younited.qa.testcases.CompleteAssignmentTest"/>
      <class name="com.younited.qa.testcases.MatchPageTest"/>
      <class name="com.younited.qa.testcases.AssignmentsPageFreeTest"/>
      <class name="com.younited.qa.testcases.StorePageFreeTest"/>
      <class name="com.younited.qa.testcases.CommunityPageFreeTest"/>
      <class name="com.younited.qa.testcases.MyNetworkPageFreeTest"/>
      <class name="com.younited.qa.testcases.EntrepreneursPageFreeTest"/>
      <class name="com.younited.qa.testcases.BusinessesPageFreeTest"/>
      <class name="com.younited.qa.testcases.HomePageAdminTest"/>
      <class name="com.younited.qa.testcases.AssignmentsPageAdminTest"/>
      <class name="com.younited.qa.testcases.CommunityPageAdminTest"/>
      <class name="com.younited.qa.testcases.MatchPageAdminTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
